<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">

    <title>Demo Learning</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"
          rel="stylesheet" media="screen"/>

    <!-- Custom style for css -->
    <link type="text/css" th:href="@{/css/Styles.css}" rel="stylesheet" media="screen"/>

</head>
    <div th:fragment="before-body-scripts">
        <script th:src="@{/webjars/jquery/3.1.1/jquery.js/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    </div>
</html>